includes:
    -  phpstan-baseline.neon
parameters:
    checkMissingIterableValueType: false
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src